{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block content %}
<div class="container texttitle paddingtop">
    <form method="POST">
        <p class="texttitle">Password Reset</p>
        <p>Please enter your email address</p>
        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address:</label>
            {{ form.email }}
            <button class="btn btn-secondary paymentbutton texttitle">Reset Password</button>
        </p>
    </form>
</div>
{% endblock %}