#map{
    height: 100%
}

.map{
    height: 250px;
    width: 50%;
}

@media (max-width: 576px) {
    .map{
        height: 250px;
        width: 100%;
    }
}

#testing{
    color: red;
    font-size: 72pt;
}

.customisedborder{
    border-style: solid;
    border-color: red;
}

#customisedborder{
    border-style: solid;
    border-color: red;
}

.background-image-custom{
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
}