html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/***
#map{
    height: 100%
}

***/

.mapclass{
    height: 100%;
    width: 100%;
    background-color: red;
}
/***

@media (max-width: 576px) {
    .map{
        height: 250px;
        width: 100%;
    }
}

*********/
#testing{
    color: red;
    font-size: 72pt;
}

.customfooter{
    height: 150px;
}

.background-image-custom{
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
}