#map{
    height: 100%
}

.map{
    height: 150px;
}

#testing{
    color: red;
    font-size: 72pt;
}

.customisedborder{
    border-style: solid;
    border-color: red;
}

#customisedborder{
    border-style: solid;
    border-color: red;
}

.background-image-custom{
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
}