html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#map{
    height: 100%;
}

.removepadding{
    padding: 0px;
}


/***
.mapclass{
    height: 100%;
    width: 100%;
    background-color: red;
}


@media (max-width: 576px) {
    .map{
        height: 250px;
        width: 100%;
    }
}

*********/
#testing{
    color: red;
    font-size: 72pt;
}

.background-image-custom{
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;  
}

@media (max-width: 576px) {
    .footer{
        height: 250px;
        width: 100%;
    }
}

@media (min-width: 577px) {
    .footer{
        height: 300px;
        width: 100%;
    }
}

.addressbackground{
    background-color: #451F55;
    color: white;
}

.socialmediabackground{
    background-color: #724E91;
    color: white;
}

.textalignmentsocialmedia{
    margin-top: auto;
    margin-bottom: auto;
}

.customfooter{
    width:100vw; 
    left: 0;
    bottom:0;
}

.textbody {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: red;
}