{% load staticfiles %}
<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/map.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Irish Archive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'checkout' %}">Register for premium access</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Create profile (necessary for premium access)
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-success">
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"> <a href="{% url 'checkout' %}">Premium membership</a></h1>
            <p class="lead">Register for premium membership to gain access to the full document of each catalogue
                holding.</p>
            <p>Free users can only use the catalogue to browse titles and descriptions</p>
        </div>
    </div>

    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search our records</button>
            </form>
        </div>
    </div>
    {% block content %} {% endblock %}

    <footer class="customfooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 removepadding">
                    <div id="map"></div>
                </div>
                <div class="col-3 text-center addressbackground">
                    <h3>Come visit us in person at:</h3>
                    <p>16 Dublin house <br />
                        Temple Bar <br />
                        Dublin <br />
                        Ireland
                    </p>
                </div>
                <div class="col-3 text-center socialmediabackground vertical-center">
                    <span class="textalignmentsocialmedia">
                        <h3>Follow us on social media:</h3>
                        <h6>Twitter</h6>
                        <h6>Instagram</h6>
                        <h6>Facebook</h6>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api }}&callback=initMap"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</body>

</html>