{% extends 'base.html' %}
{% load staticfiles %}

{% block page_heading %}Irish Archive Catalogue{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> <a href="{% url 'checkout' %}">Premium membership</a></h1>
        <p class="lead">Register for premium membership to gain access to the full document of each catalogue
            holding.</p>
        <p>Free users can only use the catalogue to browse titles and descriptions</p>
    </div>
</div>

{% for record in catalogue %}
<div class="container">
    <div class="rounded border">
        <div class="row justify-content-md-center textbody">
            <div class="col col-s-2" style="background-image: url('{{ MEDIA_URL }}{{ record.image }}'); background-size: contain; background-repeat: no-repeat; background-position: center center">

            </div>

            <div class="col col-lg-8">
                <h3>{{ record.name }}</h3>
                <p>{{ record.description }}</p>
                {% if user.is_authenticated %}
                <p>Click <a href="{% url 'fulldocument' record.id %}">here</a> to see full record</p>
                {% else %}
                <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'registration' %}">Register</a> as a premium
                    user to gain full access to this record.</p>
                {% endif %}
            </div>
        </div>
    </div> 
</div>
{% endfor %}


{% endblock %}