{% extends 'base.html' %}
{% load staticfiles %}

{% block page_heading %}Irish Archive Catalogue{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid jumbotronbackgroundcolour">
    <div class="container text-center ">
        <h1 class="display-4 texttitle"> <a href="{% url 'checkout' %}">Premium membership</a></h1>
        <p class="lead texttitle">Register for premium membership to gain access to the full document of each catalogue
            holding.</p>
            <p class="lead texttitle"><a href="{% url 'checkout' %}">Only €4.99 a month for unlimited access.</a></p>
        <p class="textbody">Free users can only use the catalogue to browse titles and descriptions</p>
    </div>
</div>

<div class="container">
    <div class="welcome">  
        <h1 class="texttitle">Welcome to the Online Irish Archive</h1>
        <p class="textbody">As a free user, you only have access to our catalogue. Please consider subscribing to premium access for full membership.</p>    
    </div>
</div>

<div class="container">
    <div class="display searchbar textbody">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
            <button type="submit" class="btn btn-secondary paymentbutton texttitle">Search our records</button>
        </form>
    </div>
    {% for record in catalogue %}
    <div class="rounded border">
        <div class="row textbody">
            <div class="col-lg-3 iconstyling" style="background-image: url('{{ MEDIA_URL }}{{ record.image }}')">
            </div>
            <div class="col-lg-9">
                <p class="cataloguetitle texttitle paddingtop paddingleftandright">{{ record.name }}</p>
                <p class="paddingleftandright">{{ record.description }}</p>
                {% if user.is_authenticated %}
                <p class="paddingleftandright"><a href="{% url 'checkout' %}">Register</a> as a premium user to gain full access to this record.</p>
                {% else %}
                <p class="paddingleftandright"><a href="{% url 'login' %}">Login</a> or <a href="{% url 'registration' %}">Register</a> as a premium
                    user to gain full access to this record.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}