{% extends 'base.html' %}
{% load static %}
{% block page_title %}Irish Archive Catalogue{% endblock %}
{% block content %}

<div class="container">
    <div class="welcome">  
        <h1 class="texttitle">Welcome to the Online Irish Archive</h1>
        <p class="textbody">As a premium mumber, you have access to all of our currently online texts. Feel free to browse the catalogue or search the titles for something more specific.</p>    
    </div>

</div>
<div class="container">
    <div class="display searchbar textbody">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
            <button type="submit">Search our records</button>
        </form>
    </div>
    {% for record in catalogue %}
    <div class="rounded border">
        <div class="row textbody">
            <div class="col-lg-3 iconstyling" style="background-image: url('{{ MEDIA_URL }}{{ record.image }}')">
            </div>
            <div class="col-lg-9">
                <p class="cataloguetitle texttitle paddingtop paddingleftandright">{{ record.name }}</p>
                <p class="paddingleftandright">{{ record.description }}</p>
                <p class="paddingleftandright">Click <a href="{% url 'fulldocument' record.id %}">here</a> to see full record</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}