{% extends 'base.html' %}
{% load staticfiles %}

{% block page_heading %}Irish Archive Catalogue{% endblock %}

{% block content %}

{% for record in catalogue %}

<div class="container">
    <div class="rounded border">
        <div class="row justify-content-md-center">
            <div class="col col-lg-8">

                <h3>{{ record.name }}</h3>

            
            

                <p>{{ record.description }}</p>
            

            

                {% if user.is_authenticated %}
                <p>Click here to see full record</p>
                {% else %}
                <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'registration' %}">Register</a> as a premium
                    user to gain full access to this record.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>
</div>

{% endblock %}